@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 0.2s ease-in-out;
}

.homeBanner {
  background-image: url("../public/homeBanner.png");
  background-size: cover;
}

.courseImage {
  clip-path: ellipse(65% 95% at 50% 0%);
}

.transition-fade-in {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.transition-fade-out {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.transition-fade-in2 {
  transition: all 0.2s ease-in-out;
}

.transition-fade-out2 {
  transition: all 0.2s ease-in-out;
}

.slider-content {
  transition: transform 0.5s ease-in-out;
}

.unselectable {
  user-select: none;
}

.animateOpenModal {
  animation: moveInDown 0.5s ease-in-out;
}

.animateCloseModal {
  animation: moveOutUp 0.5s ease-in-out;
}

@keyframes moveInDown {
  0% {
    opacity: 0;
    transform: translateY(100vh);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(100vh);
  }
}
